:root {
  --background: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}
.cursor-pointer {
  cursor: pointer;
}
.btn-primary {
  background-color: blue;
}
.active-link {
  color: blue !important;
}
table th {
  background-color: #f1f1f1 !important;
}
.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  font-size: 16px;
  color: #000;
}

.page-header {
  min-height: 68px;
}

.page-header h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
h4.sub-heading {
  margin-bottom: 20px;
  font-size: 18px;
  margin-top: 24px;
}
.page-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.stat-boxes {
  display: flex;
  gap: 20px;
}
.stat-boxes .stat-card {
  width: 260px;
  aspect-ratio: 1;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px;
  cursor: pointer;
}
.stat-boxes .stat-card p {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
}
.stat-boxes .stat-card h3 {
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid #ccc;
}

td,
th {
  padding: 10px 15px;
}

a.main-logo {
  color: #000;
  text-decoration: none;
}
a.main-logo h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 800;
}
.tab-btns {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  /* gap: 10px; */
}
.tab-btns a {
  display: inline-block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  background-color: #f5f5f5;
  border-left: 1px solid #e3e3e3;
  margin-left: -1px;
}

.tab-btns a:first-child {
  border-radius: 6px 0 0 6px;
}
.tab-btns a:last-child {
  border-radius: 0 6px 6px 0;
}

.tab-btns a.active-link {
  color: #fff !important;
  background-color: blue !important;
}
.image-group {
  display: flex;
  align-items: center;
}
.image-group img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #e0e0e0;
  vertical-align: middle;
  object-fit: cover;
}
.image-group img:not(:first-child) {
  margin-left: -20px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.pagination-wrapper .pagination button {
  background-color: transparent;
  color: #fff;
  border: 0;
  padding: 8px 16px;
  border: 1px solid #828282;
  color: #000;
  font-weight: 500;
  font-size: 16px;
  margin-left: -1px;
}

.pagination-wrapper .pagination button:first-child {
  border-radius: 6px 0 0 6px;
}
.pagination-wrapper .pagination button:last-child {
  border-radius: 0 6px 6px 0;
}

.pagination-wrapper .pagination {
  display: flex;
  align-items: center;
}

.pagination-wrapper .pagination button.active {
  background-color: blue;
  border-color: blue;
  color: #fff;
}

.pagination-wrapper .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination-wrapper select {
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 16px;
}

span.form-error-message {
  color: #c91c1c;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}

/* USER DROPDOWN */
.user-dropdown {
  position: relative;
}
.user-dropdown-div {
  position: absolute;
  z-index: 100;
  top: calc(100% + 15px);
  right: 0;
  background-color: #fff;
  box-shadow: 0px 12px 10px 0px rgba(0, 0, 0, 0.2),
    1px 0px 7px 0px rgba(0, 0, 0, 0.1);
  width: 300px;
  border-radius: 4px;
  border: 1px solid #eee;
  text-align: right;
}

.user-dropdown button.user-dropdown-trigger {
  border: 0;
  background-color: transparent;
  outline: 0;
  height: 100%;
}

.user-dropdown img.user-drop-avatar {
  width: 100px;
  height: 100px;
  overflow: hidden;
  object-fit: cover;
  vertical-align: middle;
  border-radius: 50%;
  border: 1px solid #eee;
}
.page-not-found-content {
  margin-top: 50px;
}
.page-not-found-content img {
  position: relative;
  height: 290px;
  vertical-align: middle;
}
