:root {
  --background: #fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  font-family: "Lexend Deca", sans-serif !important;
  font-optical-sizing: auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

.active-link {
  color: blue !important;
}
.sidebar a.active-link {
  background-color: blue !important;
  color: #fff !important;
}
.main-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99999;
  font-size: 16px;
  color: #000;
}
.page-header {
  padding: 10px 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.page-header h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}
h4.sub-heading {
  margin-bottom: 20px;
  font-size: 18px;
  margin-top: 24px;
}
.page-content {
  padding-top: 20px;
  padding-bottom: 20px;
}
.stat-boxes {
  display: flex;
  gap: 20px;
}
.stat-boxes .stat-card {
  width: 260px;
  aspect-ratio: 1;
  border: 1px solid #eee;
  border-radius: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 24px;
  cursor: pointer;
}
.stat-boxes .stat-card p {
  margin: 0;
  font-size: 60px;
  font-weight: 800;
}
.stat-boxes .stat-card h3 {
  font-size: 22px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table,
td,
th {
  border: 1px solid #ccc;
}

td,
th {
  padding: 10px 15px;
}

a.main-logo {
  color: #000;
  text-decoration: none;
}
a.main-logo h2 {
  font-size: 18px;
  margin: 0;
  font-weight: 800;
}
.tab-btns {
  display: flex;
  /* gap: 10px; */
}
.tab-btns a {
  display: inline-block;
  padding: 10px 15px;
  color: #000;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  background-color: #e9e9e9;
}

.image-group {
  display: flex;
  align-items: center;
}
.image-group img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: 3px solid #e0e0e0;
  vertical-align: middle;
  object-fit: cover;
}
.image-group img:not(:first-child) {
  margin-left: -20px;
}

.pagination-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
}
.pagination-wrapper button {
  background-color: #000;
  color: #fff;
  border: 0;
}
.pagination-wrapper .pagination button {
  background-color: #000;
  color: #fff;
  border: 0;
  padding: 5px 10px;
}

.pagination-wrapper .pagination {
  display: flex;
  gap: 5px;
}

.pagination-wrapper .pagination button.active,
.pagination-wrapper .pagination button:not(:disabled):hover {
  background-color: blue;
}

.pagination-wrapper .pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.pagination-wrapper select {
  padding: 5px 10px;
}
span.form-error-message {
  color: #c91c1c;
  font-size: 14px;
  margin-top: 5px;
  display: inline-block;
}
