# === Global ===
*.log
.DS_Store
Thumbs.db
.env
.env.local
.env.*.local
.vscode/
.idea/
*.sw?
*.tsbuildinfo

# === Client (Next.js) ===
client/node_modules/
client/.next/
client/out/
client/.env
client/.env.local
client/coverage/

# === Server (NestJS) ===
server/node_modules/
server/dist/
server/.env
server/.env.local
server/coverage/
